@import 'styles/_mixins.scss';

// FONT STACK //////////////////////////////////////////////////////////////////
$body-text: 'Open Sans', sans-serif;
$heading-text: 'Montserrat', sans-serif;


// The base font size
$base-font-size: 18px;
// Base line height
$base-line-height: 30px;

$base-font-family: $body-text, “Helvetica Neue”, Helvetica, Arial, sans-serif;
$alt-font-family: $heading-text, “Helvetica Neue”, Helvetica, Arial, sans-serif;
$base-font-weight: 400;
$alt-font-weight: 900;
$base-font-color: $primary-navy;

//Type Scale
$tiny-font-size: 10px;
$tiny-font-leading: 0.75;

$small-font-size: 14px;
$small-font-leading: 0.75;

$base-font-size: 18px;
$base-font-leading: 1;

$medium-font-size: 24px;
$medium-font-leading: 1.25;

$large-font-size: 32px;
$large-font-leading: 1.25;

$xlarge-font-size: 43px;
$xlarge-font-leading: 1.5;
