@import 'styles/_mixins.scss';

// FONT STACK //////////////////////////////////////////////////////////////////
$body-text: 'Open Sans', sans-serif;
$heading-text: 'Montserrat', sans-serif;


// The base font size
$base-font-size: 18px;
// Base line height
$base-line-height: 30px;
// Rhythm unit (Compass vertical rhythm)
$rhythm-unit: “rem”;

$base-font-family: $body-text, “Helvetica Neue”, Helvetica, Arial, sans-serif;
$base-font-weight: 400;
$base-font-color: $primary-navy;

//Type Scale
$tiny-font-size: 10px;
$tiny-font-leading: 0.75;
$small-font-size: 14px;
$small-font-leading: 0.75;
$base-font-size: 18px;
$base-font-leading: 1;
$medium-font-size: 24px;
$medium-font-leading: 1.25;
$large-font-size: 32px;
$large-font-leading: 1.25;
$xlarge-font-size: 43px;
$xlarge-font-leading: 1.5;

@mixin responsiveTypeSize($size) {
 @if $size == "tiny" {
  @include adjust-font-size-to($tiny-font-size, $tiny-font-leading);
 }
 @if $size == "small" {
  @include adjust-font-size-to($tiny-font-size, $tiny-font-leading);
  @include breakpoint(mobileonly) {
   @include adjust-font-size-to($tiny-font-size, $tiny-font-leading);
  }
 }
 @if $size == "base" {
  @include adjust-font-size-to($small-font-size, $small-font-leading);
  @include breakpoint(mobileonly) {
   @include adjust-font-size-to($base-font-size, $base-font-leading);
  }
 }
 @if $size == "medium" {
  @include adjust-font-size-to($base-font-size, $base-font-leading);
  @include breakpoint(mobileonly) {
   @include adjust-font-size-to($medium-font-size, $medium-font-leading);
  }
 }
 @if $size == "large" {
  @include adjust-font-size-to($medium-font-size, $medium-font-leading);
  @include breakpoint(mobileonly) {
   @include adjust-font-size-to($large-font-size, $large-font-leading);
  }
 }
 @if $size == "xlarge" {
  @include adjust-font-size-to($large-font-size, $large-font-leading);
  @include breakpoint(mobileonly) {
   @include adjust-font-size-to($xlarge-font-size, $xlarge-font-leading);
  }
 }
}

// Type weights
%t-ultrastrong {
 font-weight: 900;
}
%t-strong {
 font-weight: 700;
}
%t-regular {
 font-weight: 400;
}
%t-light {
 font-weight: 300;
}
%t-ultralight {
 font-weight: 200;
}

// Type size variants
%t-tiny {
 @include typeSize(tiny);
}
%t-small {
 @include typeSize(small);
}
%t-base {
 @include typeSize(base);
}
%t-medium {
 @include typeSize(medium);
}
%t-large {
 @include typeSize(large);
}
%t-xlarge {
 @include typeSize(xlarge);
}
.t-tiny {
 @include typeSize(tiny);
}
.t-small {
 @include typeSize(small);
}
.t-base {
 @include typeSize(base);
}
.t-medium {
 @include typeSize(medium);
}
.t-large {
 @include typeSize(large);
}
.t-xlarge {
 @include typeSize(xlarge);
}


// Type — headings
#{headings(4)} {
 margin: 0;
}
h1 {
 @extend %t-xlarge;
}
h2 {
 @extend %t-large;
}
h3 {
 @extend %t-medium;
}
h4 {
 @extend %t-base;

// Type - base type
p {
 @extend %t-base;
 @extend %t-regular;
}
small {
 @extend %t-small;
}
strong, b {
 @extend %t-strong;
}
