@charset "UTF-8";
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Once declared you can use the following syntax to insert a media query anywhere within your SCSS.

@include breakpoint(breakpointname) {
		(Add your Styles)
	} */
.grid-1-4 {
  width: 100%; }
  @media (min-width: 37.5em) {
    .grid-1-4 {
      width: 50%; } }
  @media (min-width: 64em) {
    .grid-1-4 {
      width: 25%; } }

.grid-1-3 {
  width: 100%; }
  @media (min-width: 37.5em) {
    .grid-1-3 {
      width: 33.3%;
      min-height: 290px; } }

.grid-1-2 {
  width: 100%; }
  @media (min-width: 50em) {
    .grid-1-2 {
      width: 50%; } }

*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Once declared you can use the following syntax to insert a media query anywhere within your SCSS.

@include breakpoint(breakpointname) {
		(Add your Styles)
	} */
.grid-1-4 {
  width: 100%; }
  @media (min-width: 37.5em) {
    .grid-1-4 {
      width: 50%; } }
  @media (min-width: 64em) {
    .grid-1-4 {
      width: 25%; } }

.grid-1-3 {
  width: 100%; }
  @media (min-width: 37.5em) {
    .grid-1-3 {
      width: 33.3%;
      min-height: 290px; } }

.grid-1-2 {
  width: 100%; }
  @media (min-width: 50em) {
    .grid-1-2 {
      width: 50%; } }

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  background: #E7EDF0;
  font-size: 18px;
  line-height: 1;
  font-weight: 400;
  color: #1B2A37; }

.main {
  display: block;
  width: 100%;
  padding-left: 2em; }
  @media (min-width: 50em) {
    .main {
      padding-left: 8.25em; } }

.ee-logo {
  width: 300px;
  padding: 5em 0 12.5em; }

.landing-head {
  font-size: 48px;
  line-height: 1;
  font-family: "Montserrat", sans-serif, “Helvetica Neue”, Helvetica, Arial, sans-serif;
  font-weight: 900;
  margin: 0;
  padding: 0; }
  .landing-head span {
    color: #F9A231; }
  @media (min-width: 50em) {
    .landing-head {
      font-size: 60px;
      line-height: 1; } }

.landing-dash {
  display: block;
  width: 200px;
  margin: 1em 0;
  border: 4px solid #1B2A37; }

.landing-copy {
  width: 100%;
  max-width: 600px;
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
  line-height: 1.5;
  padding-right: 1em; }
  @media (min-width: 50em) {
    .landing-copy {
      padding: 0; } }

.home-links {
  display: flex;
  margin: 0;
  padding: 0 0 5em; }
  .home-links a {
    background: #F9A231;
    font-size: 14px;
    line-height: 2;
    display: block;
    padding: 0.5em 0.75em;
    border-radius: 50px;
    text-decoration: none;
    color: #1B2A37;
    margin-right: .25em; }
    .home-links a:hover {
      background: #f08b07; }
    .home-links a.dots {
      font-size: 18px;
      line-height: 1em;
      padding: 0.75em; }
      @media (min-width: 50em) {
        .home-links a.dots {
          font-size: 36px;
          line-height: 1em;
          padding: 0.75em; } }
    @media (min-width: 50em) {
      .home-links a {
        font-size: 20px;
        line-height: 2.5;
        padding: 1em 2em;
        margin-right: .5em; } }
